.DS_Store
.idea/*
.idea
__pycache__
.pytest_cache
odm/*
inpi/cookie.txt
.env
python/__pycache__/*
python/crunchbase/__pycache__/*
python/inpi/__pycache__/*
python/post_processing/__pycache__/*
python/semantic_scholar/__pycache__/*
python/wikidata/__pycache__/*
python/util/__pycache__/*
/rougenv
/volumes
/places
/crunchbase
Rapport.pdf